<!DOCTYPE html>
<html>
  <head>
    <title>DownloadExplore | Get your Paid Downloads at 0$ | Netflix | Movies | Books | Games | Latest stuff</title>
    <%# Meta Tags%>
    <meta charset="utf-8">
    <meta name="description" content="Downloadexplore is a simple platform to help you find your paid downloads at 0.00$ with ease! Just enter your email address and get redirected to your downloads page.DownloadExplore was started with the thought in mind to help people find all there at one place. We ought to create a healthy community where we will provide you your Paid downloads at $0 in exchange of some basic details. Just complete a simple survey and we will provide you with your required Download files on the go!We keep searching for the best stuff and provide you at the minimum effort. Our goal is to build a large community of people. Explore our Download Pages">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="keywords" content="downloads, best downloads, best, top, downloads, books, movies, games, weight loss, softwares, top softwares, antiviruses, top antiviruses, paid downloads at zero dollars, explore, downloadexplore, find, downloader, downloading, downloads" />

    <link rel="shortcut icon" href="images/small.png" />
    <link rel="stylesheet" href="/font-awesome-4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link href="custombox.min.css" rel="stylesheet">
    <script src="custombox.min.js"></script>

    <script type="text/javascript">
      var arr = [1,2,3,4,5,6,7,8,9,10];
    </script>
    <script src="/javascripts/layout.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

  </head>
  <script type="text/javascript">
  //paste this code under the head tag or in a separate js file.
    // Wait for window load
    $(window).on("load",function() {
      // Animate loader off screen
      $(".se-pre-con").fadeOut("slow");;
    });
  </script>
  <body>

    <div class="se-pre-con"></div>

    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img style="display:inline;" class="logo" src="/images/small.png" alt="">
            <h4 style="float:right; margin-top:0px;">DownloadExplore</h4>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-3">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/downloads">Downloads</a></li>
            <li><a href="/contact">Contact</a></li>
            <li>
              <a class="btn btn-default btn-outline btn-circle collapsed"  data-toggle="collapse" href="#nav-collapse3" aria-expanded="false" aria-controls="nav-collapse3">Search</a>
            </li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse slide-down" id="nav-collapse3">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->


    <div class="row left1">
      <div class="col-md-10 left">
