<% include layouts/header %>
<link rel="stylesheet" href="/stylesheets/about.css">
<div class="up no-gutters">
  <h1>About Us</h1>
  <p>Downloadexplore is a simple platform to help you find your paid downloads at 0.00$ with ease! Just enter your email address and get redirected to your downloads page.</p>
</div>
<div class="container text-center">
  <br><br><br>
  <div class="middle">
    <div class="row">
      <div class="col-md-6">
          <h3>Our Vision</h3>
          <p>DownloadExplore was started with the thought in mind to help people find all there at one place. We ought to create a healthy community where we will provide you your Paid downloads at $0 in exchange of some basic details. Just complete a simple survey and we will provide you with your required Download files on the go!</p>
          <br><br>
          <h3>Our Goal</h3>
          <p>We keep searching for the best stuff and provide you at the minimum effort. Our goal is to build a large community of people. Explore our Download Pages <a href="/downloads">here</a>.</p>
          <p>Cant find what you need? No worries... send us your Recommendations and we will get it for you in no time.</p>
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-4">
        <div class="container">
    			<div class="row main">
    				<div class="main-login main-center">
    				<h2>Recommendations</h2>
            <br><br>
    					<form class="" method="post" action="#">
    						<div class="form-group">
    							<label for="name" class="cols-sm-2 control-label">Your Email</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
    									<input type="text" class="form-control" name="name" id="name"  placeholder="Enter your Email"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group">
    							<label for="confirm" class="cols-sm-2 control-label">Recommendation</label>
    							<div class="cols-sm-10">
    								<div class="input-group">
    									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
    									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Tell us what you need"/>
    								</div>
    							</div>
    						</div>

    						<div class="form-group ">
    							<a href="http://deepak646.blogspot.in" target="_blank" type="button" id="button" class="btn btn-primary btn-lg btn-block login-button">Send</a>
    						</div>

    					</form>
    				</div>
    			</div>
    		</div>
        <div class="col-md-1">

        </div>
      </div>
    <hr>
    <br><br><br>
      <div class="col-md-12">
        <h2>Our Skills!</h2>
        <br><br>
        <div class="row">
          <div class="col-md-4">
            <p class="skills">Customer satisfaction</p>
          </div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only">40% Complete (success)</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="skills">Reliability</p>
          </div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                <span class="sr-only">20% Complete</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="skills">Success Rate</p>
          </div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                <span class="sr-only">60% Complete (warning)</span>
              </div>
            </div>
          </div>
          </div>
        <div class="row">
          <div class="col-md-4">
            <p class="skills">Original Downloads</p>
          </div>
          <div class="col-md-8">
            <div class="progress">
              <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="sr-only">80% Complete (danger)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include layouts/footer %>
