<% include layouts/header %>
<div class="container text-center">
  <h2>Why are you seeing this page?? </h2>
  <br><br>
  <p>1.) You are not registered yet - Click here to register: </p><a href="/register">Register Page!</a><br><br>
  <p>2.) You did not login! - Click here to login: </p><a href="/login">Login Page!</a>
  <br><br>
  <p>3.) You dont have admin rights as yet! - Ask Data Base Administrator for the Admin rights! :)</p>
  <hr>
  <p>In order to see admin page you must be logged in with admin rights!</p>
</div>
<% include layouts/footer %>
