<% include layouts/header %>
<div class="container text-center">
  <h1>Coming soon!</h1>
    <h4>Wait a bit more please...</h4>
    <p>We keep searching for the best downloads for you everyday! You can explore other dowloads till then. Happy downloading! :)</p>
    <br><br><br><br>
    <a href="/pages"><button class="btn btn-lg btn-info">Go back to categories page</button></a>
</div>
<% include layouts/footer %>
